body{
    background-color: rgb(161, 137, 29);
}
#score{
    font-size: 18px;
    float: right;
    margin-right: 650px;
}
#timer{
    font-size: 18px;
    float: right;
    margin-right: 650px;  
}
#random_draw{
    color: red;
}